.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #ff6f00;
  color: white;
  font-weight: bold;
  border-radius: 8px;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

.nav-links a:hover {
  text-decoration: underline;
}
